data.csv
zorya
zorya.c
zoryaface
builds/
prompts.txt
.README.md.swp
test.pdf
suspicious.pdf
data.csv
dataclassifier.py
database.csv
default_data.csv
zoryasort.py
zoryalgorithm.py
dataset-protocol.txt
dataset.py
default_data.csv
TFE.pdf
__pycache__/
